# =========================
# Java / Maven
# =========================
target/
*.class
*.log

# =========================
# IDEs
# =========================
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
application-local.yml
application-dev.yml

# =========================
# Docker
# =========================
**/postgres_data/
docker-compose.override.yml

# =========================
# Logs
# =========================
logs/
*.out

# =========================
# Test reports
# =========================
surefire-reports/
failsafe-reports/
